.silly-name {
  font-style: normal;
  text-align: center;
  width: 100%;
  max-width: 20em;
}

.silly-name a {
  text-decoration: underline;
  font-weight: bold;
  color: var(--color-body);
  transition: color 0.1s ease-in;
}

.silly-name a:hover {
  color: var(--color-heading);
}

.silly-name.undiscovered {
  transition: color 0.1s ease-out;
  user-select: none;
  -webkit-user-select: none;
  animation: underline 4s linear infinite;
}

.silly-name.undiscovered:hover {
  color: var(--color-heading);
}

@keyframes underline {
  0% {
    text-decoration: none;
  }
  79% {
    text-decoration: none;
  }
  80% {
    text-decoration: underline;
  }
  85% {
    text-decoration: none;
  }
  90% {
    text-decoration: underline;
  }
  95% {
    text-decoration: none;
  }
}

@keyframes colour-progress {
  from {
    color: var(--color-heading);
  }
  20% {
    color: var(--color);
  }
  to {
    color: var(--color-heading);
  }
}

.silly-name.undiscovered.clicked {
  animation-name: colour-progress;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}
