.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--size));
  grid-auto-rows: var(--size);
  justify-content: center;
  touch-action: manipulation;
  user-select: none;
}

.grid--no-interaction {
  pointer-events: none;
}
