:root {
  --color-background: #000f1e;
  --color-heading: #f6f4f3;
  --color-body: #cecaca;
  --color-cotton-candy: #fdc5f5;
  --color-mauve: #f7aef8;
  --color-lavender-floral: #b388eb;
  --color-cornflower-blue: #8093f1;
  --color-sky-blue: #72ddf7;
  --color-assurance: #0cce6b;
  --color-danger: #ef2d56;
  --weight-heading: 800;
  --weight-body: 450;
  --font-body: 'Heebo', sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 6vmin 8vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: var(--weight-heading);
  text-align: center;
  letter-spacing: 0.003em;
  color: var(--color-heading);
}

p {
  font-family: var(--font-body);
  font-weight: var(--weight-body);
  text-align: center;
  margin: 0.3em;
  letter-spacing: -0.0004em;
  color: var(--color-body);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.grid__parent {
  filter: drop-shadow(14px 10px 27px rgba(0, 0, 0, 0.68));
  margin-top: 4vmin;
  width: 100%;
  max-width: 1000px;
  height: 50%;
  max-height: 20em;
  position: relative;
}

fieldset.game-parameter {
  color: var(--color-body);
  font-family: var(--font-body);
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: fit-content;
}

fieldset.game-parameter label {
  text-align: bottom;
}

fieldset.game-parameter span {
  border: 3px solid var(--color-body);
  border-radius: 100%;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding-top: 0.1rem;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.game-parameter-labels-layout {
  margin-left: -0.02rem;
}

.game-parameter-label ~ .game-parameter-label {
  margin-left: 0.4rem;
}

fieldset.game-parameter input {
  display: none;
}

fieldset.game-parameter input:disabled + span {
  cursor: default;
  opacity: 40%;
}

fieldset.game-parameter input:disabled:checked + span {
  opacity: 100%;
  border-color: var(--color-assurance);
  background-color: var(--color-assurance);
}

fieldset.game-parameter input:checked + span {
  background-color: var(--color-body);
  color: var(--color-background);
}

footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-height: 361px) {
  body {
    padding: 8vmin;
  }
}
