:root {
  --color-background: #000f1e;
  --color-heading: #f6f4f3;
  --color-body: #cecaca;
  --color-square-1: #fdc5f5;
  --color-square-2: #f7aef8;
  --color-square-3: #b388eb;
  --color-square-4: #8093f1;
  --color-square-5: #72ddf7;
  --color-assurance: #0cce6b;
  --color-danger: #ef2d56;
  --weight-heading: 800;
  --weight-body: 450;
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Heebo', sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 6vmin 8vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: var(--weight-heading);
  letter-spacing: 0.003em;
  color: var(--color-heading);
}

p {
  font-family: var(--font-body);
  font-weight: var(--weight-body);
  letter-spacing: -0.0004em;
  color: var(--color-body);
}

#title {
  text-align: center;
}

#objective {
  text-align: center;
  margin: 0.3em;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.grid__parent {
  filter: drop-shadow(14px 10px 27px rgba(0, 0, 0, 0.68));
  margin-top: 4vmin;
  width: 100%;
  max-width: 1000px;
  height: 50%;
  max-height: 20em;
  position: relative;
}

footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-height: 361px) {
  body {
    padding: 8vmin;
  }
}
